new_category "AIX/System"
exec_command contact_information "Support Contact"
exec_command "lscfg -vpl sysplanar0  | grep Machine/Cabinet | awk '{print \$2,\$3}' " \
	"Serial_Number"
exec_command "uname -M" "Machine_Type"
exec_command "hostname" "Hostname"
exec_command "uname -a" "uname -a"
exec_command "oslevel" "OS Version (Version.Release.Modification.Fix)"
exec_command ". system_oslevel" "HIDE"
exec_command "oslevel -g 2>&1" "OS ML higher"
exec_command "prtconf" "Print Configuration"
exec_command "instfix -i |grep ML" "OS Maintenance Level (instfix)"
exec_command "bootinfo -T" "Hardware Platform Type"
exec_command "bootinfo -p" "Model Architecture"
exec_command "echo \"$(bootinfo -r) KB / $(echo $(bootinfo -r)/1024 | bc) MB\"" \
	"Memory Size (KBytes/MBytes)" 
exec_command "bootinfo -y" "CPU 32/64 bit"
exec_command "bootinfo -K" "Installed Kernel 32/64 bit"
exec_command "(( $(bootinfo -z) == 0 )) && echo No || echo Yes" \
	"Multi-Processor Capability"
exec_command "lscfg | grep Implementation | cut -d: -f2 | tr -d ' '" \
	"Model Implementation"
exec_command "bootlist -m normal -o" "Boot Device List"
exec_command "bootinfo -m" "Machine Model Code"
exec_command "bootinfo -b" "Boot device (booted from)"
exec_command "bindprocessor -q" "Bindprocessor"
exec_command "system_cpus" "CPUs"
exec_command "lsrset -av" "Display System Rset Contents"
exec_command "pmctrl -v" "Display Power Management Information"
exec_command "w ; sar" "Uptime, Who, Load & Sar Cpu"
exec_command "sar -b" "Sar: Buffer Activity"
exec_command "vmstat" "Display Summary of Statistics since boot"
exec_command "vmstat -f" "Display Fork statistics"
exec_command "vmstat -i" "Displays the number of Interrupts"
exec_command "vmstat -s" "List Sum of paging events"
exec_command "iostat" "Report CPU and I/O statistics"
exec_command "lspath" "Display the status of MultiPath I/O (MPIO) capable devices"
exec_command "/usr/local/ct/bin/lspaths -r" "Load Balance I/O Across FC and Paths"
AddText      "The above commands can be run directly from the server and will \
                rebalance the I/O across all paths.   "
exec_command "locktrace -l" "List Kernel Lock Tracing current Status"

new_category "Kernel"
exec_command "genkex" "Loaded Kernel Modules (EXTENDED)"
exec_command "/usr/samples/kernel/vmtune"  \
	"Virtual Memory Manager Tunable Parameters"
exec_command "lssrc -a" "List current status of all defined subsystems"
exec_command "chcod"    "List Capacity upgrade On Demand values"
exec_command "lsvpd -v" "List Vital Product Data"
exec_command "lsrsrc"   "List Resources"
exec_command "ps -lAf | grep -v aioserver" "List Processes (EXTENDED)"
exec_command "psawk" "List Processes hierarchically"

new_category "Hardware"
exec_command "lscfg"     "Hardware Configuration"
exec_command "lscfg -pv" "Hardware Configuration with VPD"
exec_command "lsdev -C | while read i j; \
     do lsresource -l \$i | grep -v \"no bus resource\"; done" \
     "Display Bus Resources for available Devices" "lsresource -l <Name>"

new_category "Filesystems, Dump- and Paging-configuration"
exec_command "lsfs -l"   "List Filesystems"
exec_command "lsfs -q"   "List Filesystems (extended)"
exec_command "mount"     "Mounted Filesystems"
exec_command "df -vk"    "Filesystems and Usage"
# CHRIS:  GET BDF_COLLECT 
#exec_command bdf_collect "Total Used Local Diskspace" 
exec_command "exportfs"   "Exported NFS Filesystems" 
exec_command "lsnfsmnt"   "Mounted Exported NFS Filesystems"
exec_command "lsps -a"      "Paging"
exec_command "pagesize -af" "Page Size" # >AW038<
#exec_command "vmstat -s"    "Kernel paging events
exec_command ". file_sysdump" "HIDE"
exec_command "file_errpt" "Error Report"
exec_command "repquota -a" "Display Disk Quota"
exec_command "file_frag" "Filesystem Fragmentation"

new_category "Devices"
exec_command "lsdev -C -H -S a" "Available Physical Devices"
exec_command "lsdev -C -H -S d" "Defined Physical Devices"
exec_command "lspv" "Physical Volumes"
#exec_command "file_volume_extended1" "LVM Info (EXTENDED)"
#exec_command ". file_volume_extended2" "HIDE"

new_category "LVM"
exec_command "lsvg -o | lsvg -i | sed \"s/^\$/$SEP80/\"" \
	"Volume Groups"
exec_command "lsvg -o | xargs lsvg -p" "Volume Group State"
exec_command "lvm_details" "Logical Volume Groups"
exec_command "lvm_PrtLayout" "Print Disk Layout"
exec_command ". lvm_PrintLVM" "HIDE"
#exec_command "lvm_ListLVM" "List Logical Volumes"

new_category "Users & Groups"
exec_command "lsuser -f -a rlogin ALL|egrep -p "rlogin=true"| \
	egrep -p -v '(^iz|^y|^is)'" \
	"Rlogin enabled by Systemuser"
exec_command "printf '%-10s %6s %-s\n' Name Id Home &&
     echo $L40 &&
      lsuser -c -a id home ALL | sed '/^#/d' |
         awk -F: '{printf \"%-10s %6s %-s\n\", \$1, \$2, \$3}'" \
     "Display User Account Attributes"
exec_command "printf '%-10s %6s %-6s %-8s %-s\n' Name Id Admin Registry Users &&
     echo $L80 &&
      lsgroup -c ALL | grep -v '^#' |
         awk -F: '
            NF==4 {printf \"%-10s %6s %-6s %-8s\n\", \$1, \$2, \$3, \$4}
            NF==5 {printf \"%-10s %6s %-6s %-8s %-s\n\", \$1, \$2, \$3, \$5, \$4}'" \
     "Display Group Account Attributes"
exec_command "lsrole -f ALL | grep -v '=$'" "Display role attributes"
exec_command "tcbck -n ALL" "Lists the security state of the system"
exec_command "cat /etc/passwd | \
	sed 's&:.*:\([-0-9][0-9]*:[-0-9][0-9]*:\)&:x:\1&'" "/etc/passwd"
exec_command "pwdck -n ALL 2>&1" "Errors found in authentication"
exec_command "usrck -n ALL 2>&1" "Errors found in passwd"
exec_command "cat /etc/group" "/etc/group"
exec_command "grpck -n ALL 2>&1" "Errors found in group" 

new_category "Network Settings"
exec_command "netstat -in" "List of all IP addresses"
exec_command "netstat -taun" "List of Ports in use"
exec_command "ifconfig -a" "Display information about all network interfaces"
exec_command ". network_entstat" "HIDE"
exec_command "no -a"       "Display current network attributes in the kernel"
exec_command "nfso -a"     "List Network File System (NFS) network variables"
exec_command "netstat -r"  "List of all routing table entries by name"
exec_command "netstat -nr" "List of all routing table entries by IP-address"
exec_command "netstat -s"  "Show statistics for each protocol"
exec_command "netstat -sr" "Show the routing statistics"
exec_command "netstat -v"  "Show statistics for CDLI-based communications adapters"
exec_command "netstat -m"  "Show statistics recorded by memory management routines"
exec_command "nfsstat" "Show NFS statistics"
exec_command "rpcinfo -p" "Display a List of Registered RPC Programs"
exec_command "rpcinfo -m; echo \$SEP60; rpcinfo -s" \
	"Display a List of RPC Statistics"
exec_command "lsnamsv -C 2>&1" "DNS Resolver Configuration"
exec_command "namerslv -s"     "Display all Name Server Entries"
exec_command "domainname"      "NIS Domain Name"
exec_command "ypwhich"         "NIS Server currently used"
#exec_command "lsclient -l"     "NIS Client Configuration 
exec_command "arp -a | grep -v bucket:"     "show arp cache"
exec_command "ipcs" "IPC info"

new_category "Printers"
exec_command "lpq"        "Printer"
#exec_command "qchk -W -q" "Default printer"
#exec_command "qchk -W -A" "Printer Status

new_category "Cron and At"
cat_file "/var/adm/cron/cron.allow" "Cron.allow"
cat_file "/var/adm/cron/cron.deny" "Cron.deny"
exec_command cron_tabs "Crontab for all users"
cat_file "/var/adm/cron/at.allow" "At.allow"
cat_file "/var/adm/cron/at.deny" "At.deny"
exec_command "at -l" "AT Scheduler"

new_category "Software"
exec_command "lslpp -l"       "Filesets installed"
exec_command "lslpp -La"      "Display all information about Filesets"
exec_command "lppchk -v 2>&1" "Verify Filesets"

new_category "Files"
exec_command "find /etc/rc.d/rc* | xargs ls -ld" "Run Command files in /etc/rc.d"
exec_command ". files_listOfFiles" "HIDE"
exec_command "ls -al /var/log/*" "Content of /var/log"

new_category "LUM - License Use Manager"
cat_file "/var/ifor/nodelock" "nodelock"
cat_file "/var/ifor/i4ls.ini" "i4ls.ini"
cat_file "/var/ifor/i4ls.rc" "i4ls.rc"
cat_file "/etc/ncs/glb_site.txt" "glb_site.txt"
cat_file "/etc/ncs/glb_obj.txt" "glb_obj.txt"
exec_command ". lum_i4cfg" "HIDE"
exec_command "inulag -lc" "License Agreements Manager"
exec_command "lslicense" "Display fixed and floating Licenses"

new_category "HP OpenView"
exec_command ". openview_hpo" "HIDE"

new_category "Java"
exec_command ". java_info" "HIDE"
